JobSeekerBLLayer/src/conf/xml-resources/web-service-references/DBService/wsdl/localhost_8080/JobSeekerDataLayer/DBService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://DBLayer/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://DBLayer/">

<xs:element name="createUser" type="tns:createUser" />

<xs:element name="createUserResponse" type="tns:createUserResponse" />

<xs:element name="deleteUser" type="tns:deleteUser" />

<xs:element name="deleteUserResponse" type="tns:deleteUserResponse" />

<xs:element name="getAllUsers" type="tns:getAllUsers" />

<xs:element name="getAllUsersResponse" type="tns:getAllUsersResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:element name="searchUserById" type="tns:searchUserById" />

<xs:element name="searchUserByIdResponse" type="tns:searchUserByIdResponse" />

<xs:element name="updateUser" type="tns:updateUser" />

<xs:element name="updateUserResponse" type="tns:updateUserResponse" />

<xs:element name="usersSearchByRoleId" type="tns:usersSearchByRoleId" />

<xs:element name="usersSearchByRoleIdResponse" type="tns:usersSearchByRoleIdResponse" />

<xs:complexType name="getAllUsers">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getAllUsersResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUser">
<xs:sequence>
<xs:element name="userId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUser">
<xs:sequence>
<xs:element name="userDetails" type="tns:user" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="appoinmentList" type="tns:appoinment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="appoinmentList1" type="tns:appoinment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="contactNo" type="xs:string" minOccurs="0" />
<xs:element name="countryList" type="tns:country" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="emailAddress" type="xs:string" minOccurs="0" />
<xs:element name="firstName" type="xs:string" minOccurs="0" />
<xs:element name="jobTypeList" type="tns:jobType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="lastName" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="sheduleList" type="tns:shedule" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="status" type="xs:int" />
<xs:element name="userId" type="xs:int" minOccurs="0" />
<xs:element name="userRoles" type="tns:userRoles" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="appoinment">
<xs:sequence>
<xs:element name="appoinmentDate" type="xs:string" minOccurs="0" />
<xs:element name="fromDate" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="toTime" type="xs:string" minOccurs="0" />
<xs:element name="user" type="tns:user" minOccurs="0" />
<xs:element name="user1" type="tns:user" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="country">
<xs:sequence>
<xs:element name="countryName" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="userList" type="tns:user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="jobType">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="jobTypeName" type="xs:string" minOccurs="0" />
<xs:element name="userList" type="tns:user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="shedule">
<xs:sequence>
<xs:element name="date" type="xs:string" minOccurs="0" />
<xs:element name="fromTime" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="perPersonTime" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:int" />
<xs:element name="toTime" type="xs:string" minOccurs="0" />
<xs:element name="user" type="tns:user" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="userRoles">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="roleName" type="xs:string" minOccurs="0" />
<xs:element name="userList" type="tns:user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element name="newUser" type="tns:user" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="usersSearchByRoleId">
<xs:sequence>
<xs:element name="roleId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="usersSearchByRoleIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchUserById">
<xs:sequence>
<xs:element name="userId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchUserByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>