JobSeekerBLLayer/src/conf/xml-resources/web-service-references/DBService/wsdl/localhost_8080/JobSeekerDataLayer/DBService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://DBLayer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://DBLayer/" name="DBService">
<types>
<xsd:schema>
<xsd:import namespace="http://DBLayer/" schemaLocation="http://localhost:8080/JobSeekerDataLayer/DBService?xsd=1" />
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser" />
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse" />
</message>
<message name="usersSearchByRoleId">
<part name="parameters" element="tns:usersSearchByRoleId" />
</message>
<message name="usersSearchByRoleIdResponse">
<part name="parameters" element="tns:usersSearchByRoleIdResponse" />
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser" />
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse" />
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser" />
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse" />
</message>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers" />
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse" />
</message>
<message name="searchUserById">
<part name="parameters" element="tns:searchUserById" />
</message>
<message name="searchUserByIdResponse">
<part name="parameters" element="tns:searchUserByIdResponse" />
</message>
<portType name="DBService">
<operation name="hello">
<input wsam:Action="http://DBLayer/DBService/helloRequest" message="tns:hello" />
<output wsam:Action="http://DBLayer/DBService/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="createUser">
<input wsam:Action="http://DBLayer/DBService/createUserRequest" message="tns:createUser" />
<output wsam:Action="http://DBLayer/DBService/createUserResponse" message="tns:createUserResponse" />
</operation>
<operation name="usersSearchByRoleId">
<input wsam:Action="http://DBLayer/DBService/usersSearchByRoleIdRequest" message="tns:usersSearchByRoleId" />
<output wsam:Action="http://DBLayer/DBService/usersSearchByRoleIdResponse" message="tns:usersSearchByRoleIdResponse" />
</operation>
<operation name="deleteUser">
<input wsam:Action="http://DBLayer/DBService/deleteUserRequest" message="tns:deleteUser" />
<output wsam:Action="http://DBLayer/DBService/deleteUserResponse" message="tns:deleteUserResponse" />
</operation>
<operation name="updateUser">
<input wsam:Action="http://DBLayer/DBService/updateUserRequest" message="tns:updateUser" />
<output wsam:Action="http://DBLayer/DBService/updateUserResponse" message="tns:updateUserResponse" />
</operation>
<operation name="getAllUsers">
<input wsam:Action="http://DBLayer/DBService/getAllUsersRequest" message="tns:getAllUsers" />
<output wsam:Action="http://DBLayer/DBService/getAllUsersResponse" message="tns:getAllUsersResponse" />
</operation>
<operation name="searchUserById">
<input wsam:Action="http://DBLayer/DBService/searchUserByIdRequest" message="tns:searchUserById" />
<output wsam:Action="http://DBLayer/DBService/searchUserByIdResponse" message="tns:searchUserByIdResponse" />
</operation>
</portType>
<binding name="DBServicePortBinding" type="tns:DBService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="usersSearchByRoleId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllUsers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchUserById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="DBService">
<port name="DBServicePort" binding="tns:DBServicePortBinding">
<soap:address location="http://localhost:8080/JobSeekerDataLayer/DBService" />
</port>
</service>
</definitions>